/*font-family: 'Dancing Script', cursive;*/
/*
Purple: rebeccapurple
slightly teal #2FFFD7
sky blue #20E8E5
minty green #4EFFBC
teal #05E8C2
pale blue #9DE1D7
*/
body {
    background-color: #9DE1D7;
    color: rebeccapurple;
    font-family: 'Dancing Script', cursive; 
}
#wrapper {
    max-width: 1060px;
    margin: 0 auto;
}
.row {
    margin-bottom: 50px;
}
.img-responsive {
    margin: 0 auto;
}
.words {
    text-align: center;
    font-size: 36px;
}
   
#header {
    text-align: right;
    margin-bottom: 50px;
    border-bottom: 10px solid black;
    min-height: 80px;
}
#header > h1 {
    font-size: 75px;
}
#header > h2 {
    font-size: 50px;
}
.modal-body {
    text-align: center;
}
